[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-admin = "*"
requests = "*"
gunicorn = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
faker = "*"
python-dotenv = "*"
flask-login = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.6"
