<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login - Bulker</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/3.4.1/united/bootstrap.min.css"
        crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="container" style="margin-top: 20px;">
    <div class="row">
        {% if error %}
        <p class="alert alert-danger">
            <strong>Error:</strong> {{ error }}
        </p>
        {% endif %}
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form method="post" action={{ url_for("login") }} class="well">
                {{ form.csrf_token }}

                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(size=20, type="email", class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(size=20, type="password", class="form-control") }}
                </div>

                <div class="form-group">
                    <input type="submit" value="Go" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>